@font-face {
  font-family: "MonospaceTypewriter";

  src: local("MonospaceTypewriter"),
    url("./fonts/MonospaceTypewriter.ttf") format("truetype");
}
.Calculator {
  --buttonClickEffect: scale(0.9);
  --digits-fontSize: 6vmin;
  --displayer-fontSize: 5vmin;
  --signs-fontSize: calc(1rem + 5vmin);
  margin: 0 auto;
  max-width: 50vmin;
  padding: 1rem;
}
.Calculator-circleKeypad {
  --quarterTurn: 0.25turn;
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-areas: "single";
  max-height: 100%;
  padding: 0;
  place-items: center;
  width: 100%;
}
.Calculator-displayer {
  background: transparent;
  border: none;
  border-bottom: 1.5px solid #656565;
  color: inherit;
  font-size: var(--displayer-fontSize);
  max-width: 100%;
  padding: 1rem;
  text-align: right;
}

.Calculator-operationsKeypad {
  display: flex;
  justify-content: space-between;
}

.CircleKeypad-button {
  background: #26373c;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.7);
  color: #8fcde8;
  font-size: var(--digits-fontSize);
  height: 100%;
  padding: 0;
  width: 100%;
}

.CircleKeypad-button:active {
  transform: var(--buttonClickEffect);
}

.CircleKeypad-centerItem {
  aspect-ratio: 1 / 1;
  display: grid;
  grid-area: single;
  margin: 0;
  padding: 0;
  padding: 0;
  place-items: center;
  width: 17%;
}
.CircleKeypad-item {
  --radius: 245%;
  aspect-ratio: 1 / 1;
  display: grid;
  grid-area: single;
  margin: 0;
  padding: 0;
  place-items: center;
  transform: var(--transform);
  width: 17%;

  --angle: calc(
    var(--index) / var(--numberOfItems) * 1turn - var(--quarterTurn)
  );
  --transform: rotate(var(--angle)) translate(var(--radius))
    rotate(calc(-1 * var(--angle)));
}
li:nth-last-child(2).CircleKeypad-item .CircleKeypad-button {
  background: #ee5b2e;
  color: #d1ebf7;
  letter-spacing: 0.6vmin;
}
li:last-child .CircleKeypad-button {
  background: none;
}

.OperationsKeypad-button {
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: var(--signs-fontSize);
}

.OperationsKeypad-button:active {
  transform: var(--buttonClickEffect);
}
